.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
v*/
v*.zip
*.exe
node_modules/
dist/
package-lock.json
package.json
obfuscator.config.js
bahan*/
build.js
__pycache__/
diagnostic_logs/
log*/
setup-silent-debugger.ps1
